/* .App {
  font-family: sans-serif;
  text-align: center;
} */
body {
  color: #777777;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.625em;
  margin: 0;
}

/* Navbar css started */
.nav-sec {
  padding: 10px 15px 15px 15px;
}

.navbar {
  display: flex;
  /* height: 200px; */
}

.nav-img {
  width: 120px;
  margin: 10px 40px 10px 40px;
  display: block;
}

.nav-item {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  /* float: right; */
  margin-right: 5.2%;
  /* text-align: right; */
  width: 100%;

}

/* .it{
text-align: right;

float: right;
margin-right: auto;
} */
.item {
  /* text-align: right; */
  /* margin-right: auto; */
  padding: 0 4% 0 4%;
  color: #222222;
  text-decoration: none;

}

.active {
  color: #8490ff;
  /* color: #fff; */
}

.nav-icon {
  display: none;
}

/* Navbar css ends */

/* hEADER css START */
.header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 60px 10px 60px;
  background-color: #f9f9ff;
  ;
}

.head-img {
  height: 500px;
  padding: 30px 40px 20px 0;
  border-radius: 30px 50px 50px 30px;
}

.head-text {
  padding: 5%;
  justify-content: center;
}

.head-text-in {
  margin: 120px 10px 20px 10px;
  text-align: center;
}

.head-h1 {
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 16px;
  color: #222222;
  margin-top: 40px;
}

.head-h2 {
  margin: 20px 0;
  font-size: 40px;
  color: #222222;
  margin-top: 40px;
}

.head-p1 {
  color: #777777;
  font-size: 14px;
  margin-top: 40px;
}

.head-btn {
  margin-top: 40px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background: #8490ff;
  line-height: 42px;
  padding-left: 30px;
  padding-right: 30px;
  border: none;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
}

@media only screen and (max-width: 1020px) {
  .head-text-in {
    line-height: 40px;
  }
}

@media only screen and (max-width: 970px) {
  .header {
    padding: 0;
    display: block;
  }

  .head-img {
    display: none;
  }
}

@media only screen and (max-width: 620px) {
  .head-h2 {
    line-height: 2.3rem;
  }

  .head-img-m {
    /* justify-content: center; */
    text-align: center;
  }

  .head-img {
    display: none;
    /* text-align: center;
    justify-content: center;
    padding: 0;
    width: fit-content; */
    /* margin: 50%; */
  }

  .header {
    display: block;
    padding-left: 10px;
    padding-right: 20px;
  }

  .nav-item {
    display: none;
  }

  .nav-item-mobile {
    position: absolute;
    z-index: 1;
    display: block;
    list-style: none;
    transition: all 0.5s ease-out;
    padding-left: 0px;
    margin-right: 0px;
    padding-right: 40px;
    width: 310px;
    left: 0;
    top: 75px;
    width: 88.5%;
    background-color: #777777;
  }

  .item {
    color: #f9f9ff;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease;
  }

  .nav-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }
}

/* hEADER css ends */

/* Mid-Section css start */
.mid {
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  align-items: center;
}

.mid-img-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 15px;
  margin: 10% 0 10% 10%;
}

.mid-text {
  display: flex;
  flex-direction: column;
  /* padding: 35px 0 0 10px; */
  align-items: flex-start;
  margin-left: 5%;
  line-height: 2.5rem;
}

.bold {
  font-weight: 700;
}

.mid1-h1 {
  margin-bottom: 0px;
}

.mid-h2 {
  margin: 2% 0;
}

.mid-btn {
  margin-top: 10px;
}

@media only screen and (max-width: 820px) {
  .mid {
    display: block;
    margin: 0;
  }

  .mid-img-1 {
    justify-content: initial;
  }

  .mid-text {
    margin-left: 5%;
    padding-top: 0;
  }

  .mid1-h1 {
    margin-top: 0;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 340px) {
  .mid-img-1 {
    margin: 4%;
  }
}

/* Mid-Section css ends */

/* Mid-Section-2 css Start */
.mid2 {
  background-color: #f9f9ff;
  padding-top: 4%;
  padding-bottom: 8%;
  /* margin-bottom: 8%; */
}

.mid2-content {
  justify-items: center;
  justify-content: center;
  margin: 1%;
}

.mid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
  justify-content: center;
  text-align: center;
  margin-left: 1.5%;
}

.mid2-h1 {
  text-align: center;
  margin: 40px 0 40px 0;
}

.mid2-icon {
  color: #222222;
  margin: 4%;
}

#icon {
  font-size: 34px;
}

.mid2-h2 {
  font-size: 18px;
  color: #222222;
  margin: 0 3% 3% 3%;
  font-weight: 550;
}

.mid2-p1 {
  font-size: 14.5px;
  font-weight: 450;
  line-height: 1.625em;
  margin: 3%;
}

@media only screen and (max-width: 1020px) {
  .mid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
  }
}

@media only screen and (max-width: 420px) {
  .mid2 {
    padding-top: 20%;
    /* margin-top: 20%; */
  }

  .mid-container {
    display: block;
    margin: 0;
    width: 100%;
  }

  .container {
    margin-top: 18%;
    /* margin-bottom: 18%; */
  }
}

/* Mid-Section-2 css ends */

/* Count-section css ends */
.count-grid-1 {
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  padding: 7%;
}

.count-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.count {
  text-align: center;
  color: #fff;
}

.count-1 {
  font-size: 36px;
}

@media only screen and (max-width: 420px) {
  .count-grid {
    display: block;
  }
}

/* Count-Section css ends */

/* Contact css start */
.map {
  margin-left: 5%;
  text-align: center;
  justify-content: center;
}

#map-1 {
  position: relative;
}

.contact-detail,
.contact-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: #f9f9ff;
  justify-content: space-evenly;
}

.contact-detail-1 {
  padding: 4% 0 4% 0;
}

.contact-icon {
  margin: 6% 4% 8% 8%;
}

.form-text {
  padding: 15px 5% 15px 5%;
  margin: 20px 2% 20px 1%;
  width: 88%;
}

.form-right {
  text-align: right;
  margin-right: 3%;
}

.form-message {
  width: 90%;
  height: 60%;
  font-size: 15px;
  margin-top: 20px;
}

.msg-btn {
  margin-top: 5%;
}

.map-section {
  margin: 5%;
}

/* Contact css ends  */

/* Footer-section css start */
.footer {
  position: relative;
  margin: 10% 5% 0 5%;
}

.foot-list-h1 {
  color: #fff !important;
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 1.6rem;
}

.foot-grid {
  display: grid;
  grid-template-columns: 1fr 0.9fr 1fr 1fr;
  background-color: #04091e;
  padding-top: 60px;
  padding-bottom: 60px;
}

.icon-list {
  list-style: none;
  padding: 0;
}

.icon-list-1 {
  font-size: 1.25rem;
  margin-bottom: 2%;
  letter-spacing: 1.5px;
  color: #777;
  text-decoration: none;
  list-style: none;
}

.icon-list-2 {
  margin: 6% 0 6% 0;
}

.icon-list-3 {
  margin: 3% 0 3% 0;
}

.foot-social {
  text-align: left;
  margin-left: 15%;
}

.foot-link .foot-services {
  text-align: left;
  margin-right: 4%;
}

.services-ls {
  margin-bottom: 5%;
}

.question {
  font-size: 1.2rem;
  margin: 6% 0 6% 0;
}

#question-icon {
  font-size: 1.9rem;
}

@media only screen and (max-width: 1020px) {
  .foot-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .foot-social {
    margin-left: 0;
  }

  .foot-social,
  .foot-link,
  .foot-services,
  .foot-question {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 520px) {
  .foot-grid {
    display: block;
  }

  .foot-social,
  .foot-link,
  .foot-services,
  .foot-question {
    margin-left: 10px;
  }

  .footer {
    margin-top: 0;
  }
}

/* Footer-section css ends */

/* About-section css start */
.about-header-1 {
  background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
  text-align: center;
  padding: 90px 0;
}

.about-header {
  display: flex;
  justify-content: center;
}

.about-h1 {
  color: #fff;
  font-size: 50px;
}

.about-link {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  margin: 2px 10px 2px 10px;
}

.sy1 {
  font-size: 30px;
}

.about-description {
  margin: 20px 5.5% 20px 5.5%;
  background-color: #f9f9ff;
}

.about-description-p1 {
  font-size: .9rem;
  margin-bottom: 2%;
}

.about-ul {
  padding: 0%;
  font-size: 17px;
}

.about-ls {
  list-style: none;
  padding-left: 2%;
  font-size: 15px;
}

/* About-section css ends */

/* Testimonial Section css start */
.test-head {
  text-align: center;
  padding: 4% 2% 10% 2%;
  margin: 5%;
  background-color: ghostwhite;
}

.test-head-1 {
  margin-bottom: 6%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

.swip-slide {
  display: flex;
  justify-content: center;
  background-color: #f9f9ff;
}

.slide-content {
  text-align: left;
}

.slide-p1 {
  font-size: 15px;

}

.slide-h1 {
  font-size: 18px;
  color: #04091e;
}

.slide-h2 {
  font-size: 16px;
}

.slide-img {
  /* width: 100%; */
  height: 50%;
  margin-right: 1.5%
}

@media only screen and (max-width: 620px) {
  .swip-slide {
    display: block;
  }
}

/* Testimonial Section css ends */

/* Project-Section css start */
.centre {
  text-align: center;
}

.project-main {
  background-color: ghostwhite;
  padding: 20px 10px 20px 10px;
}

.a-link {
  text-decoration: none;
  font-weight: 400;
  color: #04091e;
}

.a-para {
  letter-spacing: 1px;
  font-size: 14px;
  margin-top: 2.5%;
}

.project-card-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5%;
}

.project-card {
  display: grid;
  grid-template-rows: 2fr .4fr .4fr .4fr;
  width: 300px;
  border: 2px solid #04091e;
  margin-bottom: 2%;
}

.project-img {
  width: 100%;
  height: 35vh;
  border-radius: 5%;
}

.project-title {
  margin-top: 1%;
  font-size: 24px;
  font-weight: 500;
  color: #04091e;
  letter-spacing: 2px;
}

.project-details {
  font-size: 15px;
  font-weight: 250;
  letter-spacing: 2px;
  word-wrap: normal;
  /* width: fit-content; */
}

.project-link {
  text-decoration: underline;
  color: #04091e;
  font-weight: 500;
}

/* Project-Section css ends */